#main{
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
}

.circle{
 border-radius: 1000px;

 position: absolute;
 transition: width 1s, height 1s, ease-out;

 background: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);

 border-image-slice: 1;

}

.buffer{
 background: white;
 position: absolute;
 transition: width 1s, height 1s, ease-out;
}

#circleOuter {

}

#circleInner {

}
